/* style.css */
.root {
    -fx-background-color: #ffffff;
}

.tab-pane {
    -fx-tab-min-width: 120px;
    -fx-tab-min-height: 30px;
    -fx-background-color: #ffffff;
}

.tab {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}
.aqiBar {
    -fx-background-color: linear-gradient(to right, #00FF00 0%, #FFFF00 50%, #FF0000 100%);
    -fx-background-radius: 40;
}