/* style.css */
.root {
    -fx-background-color: #ffffff;
}

.tab-pane {
    -fx-background-color: #DECCCC;
    -fx-tab-min-width: 120;
    -fx-tab-max-width: 200;
    -fx-tab-min-height: 30;
}
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #DECCCC;
    -fx-border-color: #000000;
    -fx-border-width: 0 1 0 0;
    -fx-border-style: solid;
    -fx-padding: 6 10;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #DECCCC;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-label {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.tab {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

.aqiBar {
    -fx-background-color: linear-gradient(to right, #00ff00 0%, #ffff00 50%, #ff4500 100%);
    -fx-background-radius: 40;
}

.titleLabel {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.welcomePanel {
    -fx-background-color: #1098F7;
    -fx-background-image: url("resources/welcomeImage.png"); /* adjust the path accordingly */
    -fx-background-size: cover; /* or specify "contain", or specific dimensions */
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.welcomeLabel {
    -fx-font-size: 80px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 0, 2);
}

.informationLabel {
    -fx-font-family: "AppleGothic", sans-serif;
    -fx-font-size: 20px;
    -fx-padding: 0,0,50,0;
}

.continueButton {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #b1b1b1);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "AppleGothic", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}

.continueButton:hover {
    -fx-background-color: linear-gradient(to bottom, #d5d5d5, #959595);
}

.continueButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.initialPanel {

}

.rightBar {
    -fx-background-color: #DECCCC;
}

.aqiBarContainer {
    -fx-background-color: #DECCCC;
    -fx-padding: 10,0,10,0;
}

.anchorPane {
    -fx-background-color: #DECCCC;
    -fx-padding: 0 0 2 0;
}

.yearComboBox {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "AppleGothic", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 17px;
    -fx-font-weight: 600;
    -fx-padding: 2 6 2 6;
}
.yearComboBox:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.yearComboBox:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.pollutantComboBox {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "AppleGothic", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 17px;
    -fx-font-weight: 600;
    -fx-padding: 2 6 2 6;
}
.pollutantComboBox:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.pollutantComboBox:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.borderPane {
    -fx-background-color: #DECCCC;
}

.pollutantLabel {
    -fx-font-family: "AppleGothic", sans-serif;
    -fx-font-size: 16px;
}

.yearLabel {
    -fx-font-family: "AppleGothic", sans-serif;
    -fx-font-size: 16px;
}

.predictButton {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "AppleGothic", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-padding: 5 10 5 10;
}
.predictButton:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.predictButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.dataPointValue {
    -fx-font-family: "AppleGothic", sans-serif;
}
.dataPointLabel {
    -fx-font-family: "AppleGothic", sans-serif;
}

.gridCodeValue {
    -fx-font-family: "AppleGothic", sans-serif;
}
.gridCodeLabel {
    -fx-font-family: "AppleGothic", sans-serif;
}

.xValue {
    -fx-font-family: "AppleGothic", sans-serif;
}

.yValue {
    -fx-font-family: "AppleGothic", sans-serif;
}

.lowLabel {
    -fx-font-family: "AppleGothic", sans-serif;
}
.highLabel {
    -fx-font-family: "AppleGothic", sans-serif;
}

.pm25 {
    -fx-stroke: red; /* Color for PM2.5 */
}

.pm10 {
    -fx-stroke: blue; /* Color for PM10 */
}

.no2 {
    -fx-stroke: green; /* Color for NO2 */
}

.instructionLabel {
    -fx-font-family: "AppleGothic", sans-serif;
}
.okButton {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "AppleGothic", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}
.okButton:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.okButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}
.cancelButton {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "AppleGothic", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}
.cancelButton:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.cancelButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.buttons {
    -fx-background-color: #DECCCC;
}
.vbox {
    -fx-background-color: #DECCCC;
}
.inputField {
    -fx-font-family: "AppleGothic", sans-serif;
}

.londonTab {
    -fx-font-family: "AppleGothic", sans-serif;
}
.statsTab {
    -fx-font-family: "AppleGothic", sans-serif;
}
.citiesTab {
    -fx-font-family: "AppleGothic", sans-serif;
}