.tab-pane {
    -fx-background-color: #DECCCC;
    -fx-tab-min-width: 120;
    -fx-tab-max-width: 200;
    -fx-tab-min-height: 30;
}
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #DECCCC;
    -fx-border-color: #000000;
    -fx-border-width: 0 1 0 0;
    -fx-border-style: solid;
    -fx-padding: 6 10;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #DECCCC;
}
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-label {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.tab {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.aqiBar {
    -fx-background-color: linear-gradient(to right, #00ff00 0%, #ffff00 50%, #ff4500 100%);
    -fx-background-radius: 40;
}

.titleLabel {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.welcomePanel {
    -fx-background-color: #1098F7;
    -fx-background-image: url("resources/welcomeImage.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.welcomeLabel {
    -fx-font-size: 80px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 0, 2);
}

.informationLabel {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-padding: 0,0,50,0;
}

.continueButton {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #b1b1b1);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}

.continueButton:hover {
    -fx-background-color: linear-gradient(to bottom, #d5d5d5, #959595);
}

.continueButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.initialPanel {

}

.rightBar {
    -fx-background-color: #DECCCC;
}

.aqiBarContainer {
    -fx-background-color: #DECCCC;
    -fx-padding: 10,0,10,0;
}

.anchorPane {
    -fx-background-color: #DECCCC;
    -fx-padding: 0 0 2 0;
}

.yearComboBox {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 17px;
    -fx-font-weight: 600;
    -fx-padding: 2 6 2 6;
}
.yearComboBox:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.yearComboBox:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.pollutantComboBox {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 17px;
    -fx-font-weight: 600;
    -fx-padding: 2 6 2 6;
}
.pollutantComboBox:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.pollutantComboBox:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.borderPane {
    -fx-background-color: #DECCCC;
}

.pollutantLabel {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.yearLabel {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.predictButton {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-padding: 5 10 5 10;
}
.predictButton:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.predictButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.dataPointValue {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.dataPointLabel {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.gridCodeValue {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.gridCodeLabel {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.xValue {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.yValue {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.lowLabel {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.highLabel {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.instructionLabel {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.okButton {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}
.okButton:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.okButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}
.cancelButton {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}
.cancelButton:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.cancelButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.buttons {
    -fx-background-color: #DECCCC;
}
.vbox {
    -fx-background-color: #DECCCC;
}
.inputField {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.londonTab {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.statsTab {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.UKTab {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.tubeTab{
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.realTimeDataTab {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.cityLabel {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.cityComboBox {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 17px;
    -fx-font-weight: 600;
    -fx-padding: 2 6 2 6;
}
.cityComboBox:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.cityComboBox:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.startStnLabel {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.startStnText {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.endStnLabel {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.endStnText {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.checkButton {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}
.checkButton:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.checkButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.search-field {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.cities-compared-label {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.compare-add-button {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}
.compare-add-button:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.compare-add-button:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}
.compare-remove-button {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}
.compare-remove-button:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.compare-remove-button:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}
.chart-button {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}
.chart-button:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.chart-button:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.titleLabel {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.pollutantLabelSts {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.pm25Toggle {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: "#e74c3c";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.pm25Toggle:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.pm25Toggle:selected {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.pm10Toggle {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: "#3498db";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.pm10Toggle:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.pm10Toggle:selected {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.no2Toggle {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: "#2ecc71";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.no2Toggle:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.no2Toggle:selected {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}

.fromYearLabelSts {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.fromYearComboBoxSts {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-padding: 2 6 2 6;
}
.fromYearComboBoxSts:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.fromYearComboBoxSts:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.toYearLabelSts {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.toYearComboBoxSts {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-padding: 2 6 2 6;
}
.toYearComboBoxSts:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.toYearComboBoxSts:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.chartTypeLabelSts {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.chartTypeComboBoxSts {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
    -fx-padding: 2 6 2 6;
}
.chartTypeComboBoxSts:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.chartTypeComboBoxSts:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.maxLabelSts {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.maxGridCodeSts {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.minLabelSts {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.minGridCodeSts {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.xAxisLC {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.yAxisLC {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.lineChart {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.xAxisBC {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.yAxisBC {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.barChart {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.xAxisAC {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.yAxisAC {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.areaChart {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.backButton {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}
.backButton:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.backButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.xAxisAPI {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.yAxisAPI {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}
.barChartAPI {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.viewDetailsButton {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}
.viewDetailsButton:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.viewDetailsButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

.popupLayout {
    -fx-background-color: #DECCCC;
}
.journeyTextArea {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
}

.closeButton {
    -fx-background-color: linear-gradient(to bottom, #d8bcbc, #B89E97);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}
.closeButton:hover {
    -fx-background-color: linear-gradient(to bottom, #c39797, #B58C80FF);
}
.closeButton:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 2);
}

